html, body {
    height: 100%;
}

.full-height {
    height: calc(100% - 40px);
}

.sidebar {
    background: #EEE;
    height: 100%;
}

#panel-map {
    height: 58%;
}

#panel-vis {
    margin-top: 2%;
    height: 40%;
}

#panel-sidebar {
    height: 100%;
}


.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
.node {
 cursor: pointer;
}

.donut circle {
  cursor: pointer;
}
